@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Cardo&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {  
    font-family: 'Roboto Mono', sans-serif;
    height: 100vh;
    background-color: #1f242d;
    color: white;
}

.navbar-brand{
    font-size: 1.5rem;
}
.navbar {
    background-color: #1f242d;
    height: 100px;
}

.hero-container{
    margin-top: 25%;
}

.hero-img {
    margin-top: 15%;
}

h1 {
    font-size: 4rem;
}

i{
    font-size: 2.5rem;
    color:rgb(170, 247, 247);
}